<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Select Role</title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      html,
      body {
        height: 100vh;
        width: 100vw;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'home' %}"
              >Home</a
            >
            <a class="nav-link" href="{% url 'event_list' %}">Events</a>
            {% if user.role == 'HOST' %}
            <a class="nav-link" href="{% url 'create_event' %}"
              >Create New Event</a
            >
            <a class="nav-link" href="{% url 'myevents' %}">My Events</a>
            {% endif %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    {% if user.role == 'PARTICIPANT' %}
    <h2>My Events</h2>
    <ul class="list-group">
      {% for event in user_events %}
      <li class="list-group-item">
        <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
        <p>Date: {{ event.date }}</p>
        <p>Time: {{ event.time }}</p>
        <p>Location: {{ event.location }}</p>
      </li>
      {% empty %}
      <li class="list-group-item">You are not participating in any events.</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1>Welcome {{ user.username }}</h1>
    {% comment %} <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'event_list' %}">go to eventlist</a> {% endcomment %}
    {%else%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'home'%}"
              >Home</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'event_list'%}"
              >Events</a
            >
          </div>
        </div>
      </div>
    </nav>
    <h1>Select Your Role</h1>
    <form method="post">
      {% csrf_token %}
      <label>
        <input type="radio" name="role" value="Host" required /> Host
      </label>
      <label>
        <input type="radio" name="role" value="Participant" required />
        Participant
      </label>
      <button type="submit">Proceed</button>
    </form>
    {% endif %}
  </body>
</html>
